*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main {
    
}

#header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../css/img/R.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}



#slidebar {
    
}

#content {
    
}

#footer {
    
}
