/* html,body,.wrapper{
    background: #f7f7f7;
} */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Montserrat-Light";
    text-decoration: none;
}
#header .logo {
    display: inline-block;
}
.logo{  
    width: 100%;
}
.logo img {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    margin-left: 37.5%;
    width: 20%;
}
.steps {
    margin-top: -41px;
    display: inline-block;
    font-size: 16px
}
.step {
    float: left;
    background: white;
    padding: 7px 13px;
    border-radius: 1px;
    text-align: center;
    width: 100px;
    position: relative
}
.step_line {
    margin: 0;
    width: 0;
    height: 0;
    border-left: 16px solid #fff;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    z-index: 1008;
    position: absolute;
    left: 99px;
    top: 1px
}
.step_complete {
    background: #357ebd
}
.step_complete a.check-bc, .step_complete a.check-bc:hover,.afix-1,.afix-1:hover{
    color: #eee;
}
.step_line.step_complete {
    background: 0;
    border-left: 16px solid #357ebd
}
.row h1 
{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 350px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.step.check_step {
    margin-left: 5px;
}
.ch_pp {
    text-decoration: underline;
}
.ch_pp.sip {
    margin-left: 10px;
}
.check-bc,
.check-bc:hover {
    color: #222;
}


.btn-xs{
    line-height: 28px;
}
.container{
    border: none;
}
.panel-footer{
    background:#fff;
}
.btn{
    border-radius: 1px;
}
.btn-sm, .btn-group-sm > .btn{
    border-radius: 1px;
}
.input-sm, .form-horizontal .form-group-sm .form-control{
    border-radius: 1px;
}

.panel-info {
    border-color: #999;
}

.panel-heading {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.panel {
    border-radius: 1px;
}
.panel-info > .panel-heading {
    color: #eee;
    border-color: #999;
}
.panel-info > .panel-heading {
    background-image: linear-gradient(to bottom, #555 0px, #888 150%);
}

hr {
    border-color: #999 -moz-use-text-color -moz-use-text-color;
}
.btn-link {
    color: #888;
}
hr{
    margin-bottom: 10px;
    margin-top: 10px;
}
.form-group-footer {
    text-align: center;
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
.btn {
    justify-content: center;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 18px;
    border-radius: .25rem;
  }
  .btn-back {
    color: white;
    background-color: #D3D3D3;
    border-color: #ccc;
    margin-left: 65px;
    font-family: 'Poppins', sans-serif;
  }
  .btn-pay{
    color: white;
    background-color: #82ce34;
    border-color: #ccc;
    margin-right: 65px;
    font-family: 'Poppins', sans-serif;
  }
  .btn pay:hover{
      color: white;
  }

  /* modal pay css  */
  .modal-confirm {		
    color: #636363;
    width: 400px;
    height: 200px;
    align-items: center;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    width: 450px;
}
.modal-confirm .modal-header2 {
    border-bottom: none;   
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
    font-weight: bold;
    font-size: 20px;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-body{
    margin-top: 40px;
    margin-bottom: 20px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}	
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}	
.modal-confirm .icon-box {
    color: #fff;		
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/* responsive */
@media (min-width: 420px) {
   .logo img {
      max-width: 65%;
      margin-left: 43%;
    }
  }
@media (min-width: 1280px) {
   .logo img {
      max-width: 60%;
      margin-left: 38%;
    }
  }