/* Google Fonts Import Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details {
    height: 100x;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: yellow;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #1d1b31;
}

.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .icon-link {
    display: block
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* .sidebar .nav-links li.showMenu i.arrow {
        transform: rotate(-eg);
} */

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.nav-links #danhmuc_menu{
    background-color: white;
}

.nav-links #danhmuc_menu .link_name{
    color:chocolate
}

.nav-links #danhmuc_menu i{
    color: chocolate;
}


.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: yellow;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.sidebar .profile-details .logout-button {
    margin-right: 15px;
    color: #fff;
}

#Thongke_menu:active{
    background-color: chocolate;
}

.home-section {
    position: relative;
    background: #E4E9F7;
    /* height: 100vh; */
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}



.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-bottom: 1px solid #ddd;
}

.home-section .home-content a:hover{
    text-decoration: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #11101d;
    font-size: 35px;
    font-weight: 600;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

.content{
    padding: 0 30px 30px;
    margin-top: 50px;
}

.content .danhmuc_event_handling{
    border: 1px solid;
    border-color: #28a745!important;
    width: 280px;
    display: inline-block;
}

.content .danhmuc_event_handling,
.content .danhmuc_showinfo{
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    
    
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.danhmuc_event_handling .event_header{
    padding: 15px 15px 0;
    border: 0;
}

.card_header{
    padding: 15px 15px 0;
    border: 0;
}

.card_body{
    padding: 15px 15px 10px 15px;
}
.card-title{
    padding-left: 15px;
    padding-top: 5px;
}
.btn{
    background-color:#6bd098;
}

.danhmuc_event_handling .event_body{
    padding: 15px 15px 10px 15px;
}

.table-bordered{
    border: 1px solid #dee2e6;
}

.content .danhmuc_showinfo{
    border: 1px solid #28a745;
    width: 722px;
    display: inline-block;
}
.bg{
    color: white;
    text-align: center;
    background-color:#6bd098 !important;;
}
.btn-warning{
    background-color: #fbc658;
    display: inline-block;
    margin: 0;
}
.border-right{
    text-align: center;
}
/* @media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
} */